alembic==1.15.2
Flask==3.1.1
Flask_Login==0.6.3
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
gunicorn==20.1.0
moviepy==1.0.3
numpy==2.2.6
onnxruntime==1.22.0
python-dotenv==1.0.0
scikit_learn==1.6.1
speechrecognition==3.14.2
SQLAlchemy==2.0.41
transformers==4.51.3
Werkzeug==3.1.3